:root{
  --praimeryfont:'Montserrat' sans-serif;
  --secfont:'Fraunces', serif;

 /*color*/
--GrayGreen: hsl(158, 36%, 37%);
--Green: hsl(158, 42%, 18%);
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html{
  height: 100%;
}
body{
  font-family: var(--praimeryfont);
  background: var(--Cream);
  font-weight:400;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
  font-family: var(--secfont);
  margin-bottom: 15px;
}
p{
  font-size: 15px;
  font-weight:400;
}
img{
  max-width: 100%;
}

.card{
  width:600px;
  display: flex;
  overflow: hidden;
}

.card_img,
.card_body{
  flex: 0 0 50%;
  min-width: 0;
}

.card_img{
  display:flex;
}

.card_img img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}
.card_body{
  background: var(--White);
  padding: 30px;
  border-radius: 0 10px 10px 0;
}


.card_img .dexstob{
  border-radius: 10px 0 0 10px;
  display: block;
}

.card_img .mobile{
  border-radius: 10px 10px 0 0;
  display: none;
}

.card_body h2{
  font-size:32px;
  color: var(--Black);
}

.card_body h6{
  font-family:var(--praimeryfont);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--Grey);
}
.card_body p{
  font-size: 14px;
  color: var(--Grey);
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: 20px ;
}
.card_body p.price{
  font-family: var(--secfont);
  font-size: 32px;
  color: var(--Green);
  margin-top: 20px;
}
.card_body p span{
  font-family: var(--praimeryfont);
  font-size: 14px;
  text-decoration: line-through;
  color: var(--GrayGreen);
  position: relative;
  top: -5px;
}


.card_body button{
   background: var(--GrayGreen);
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  color: var(--White);
  margin-top: 0px;
  border: none;
  cursor: pointer;
}
.card_body button img{
 display: inline-block;
 padding-right: 10px;
 position: relative;
 top: 3px;
}

/*responsive area*/

@media only screen and (max-width:600px) {
  body{
    align-items: flex-start;
  }

  .card{
    width: 90%;
    flex-direction: column;
    margin-top: 20px;
  }

  .card_img .dexstob{
    display: none;
  }

  .card_img .mobile{
    display: block;
  }
  .card_body{
    border-radius: 0 0 10px 10px;
  }
}